
/* Gamma Gallery Style */
body {
    padding: 5px;
   
}
.well {
   
    padding: 5px;
   
}
.tabs-left > .nav-tabs {
  
    margin-right: 0px;
    border-left: 0px solid #DDD;
}
.tab-content {
   
    padding: 9px 5px;
   
}
input, textarea, .uneditable-input {
    width: 100%;
}
.editbox
{
display:none
}
td
{
padding:5px;
}
.editbox
{
font-size:14px;
width:270px;
background-color:#ffffcc;
border:solid 1px #000;
padding:4px;
}
.edit_tr:hover
{
background:url(edit.png) right no-repeat #80C8E5;
cursor:pointer;
}
.container {
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100% !important;
}
.scroll {
  overflow:auto;
  padding-right: 1%;
}
select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
}

.bootbox {
    overflow: hidden;
    display: block;
    margin: 0px auto;
}
.modal {
    background-color:#fff !important;
}

select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
}
.ace-nav > li {
  
    background: none repeat scroll 0% 0%;
   
}

table tr td.small
{
 
        padding-bottom: 0px;
        padding-left:  0px;
        padding-right:  0px;
        padding-top:  0px;
         width: 67px !important;
        height:27px !important; 
         
      
}
input.ace-checkbox-3{
    opacity:1;
    border:4px solid #1e5180;
  
   
    
}
h4 {
    font-size: 18px;
    font-weight: normal;
    color: black;
}
table tr td.center
{     
        width:1%;
        height:1%;
}
.input-mini {
    margin-bottom: 0px !important;
    width: 6% !important;
    height: auto !important;
    float: none;
    padding: 0px;
}
.input-minis {
    margin-bottom: 0px !important;
    width: 100% !important;
    height: auto !important;
    float: none;
    padding: 0px;
}
.foot-note{
    font-size: 10px;
    
}
.degree{
    font-size: 7px;
    margin-bottom: 5px;
    	vertical-align: text-top;
    
}
.center-head{    
    width: 5%;
}
th.center, td.center {
    text-align:left;
}
input#input-mini
{
    padding: 5px;
    margin: 5px;
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
 .table td {
    padding: -1px !important;
}


th.rotate {
  /* Something you can count on */
  height: 190px;
  white-space: nowrap;

}


td.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(10px, 190px)
    /* 45 is really 360 - 45 */
    rotate(-90deg);
  width: 0px;
}

/* These aren't needed and will be weird if transforms don't work */
.csstransforms & th.rotate {
  height: 100px;
  white-space: nowrap;
}
.alert-info{
    
    padding: 2%;
}
.accordion-group {
    margin-bottom: 2px;
    border: 0px solid #E5E5E5;
    border-radius: 4px;
}
iframe {
   
    width:100%;
    height:800px;
}
.infobox {
   
    width: auto;
   
}
.span12 {
    width: 100%;
}
.ace-nav > li {
    line-height: 100%;
}
.ace-nav > li a {   
    max-height: 100%;   
}
select {
    width: 125px;
    background-color: #FFF;
    border: 1px solid #CCC;
}
input, textarea, .uneditable-input {
    width: 150px;
}
.scroll {
  overflow:auto;
   overflow-x:scroll;
  padding-right: 1%;
  scrollbar-base-color:#ffeaff;
}
.menu-me {
  margin-top: 2%;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #eae3e3;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#eaeae3;

	border:1px solid #eae3e3;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:0px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #aad4ff 5%, #aad4ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aad4ff), color-stop(1, #aad4ff) );
	background:-moz-linear-gradient( center top, #aad4ff 5%, #aad4ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#aad4ff", endColorstr="#aad4ff");	background: -o-linear-gradient(top,#aad4ff,aad4ff);

	background-color:#aad4ff;
	border:0px solid #eae3e3;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #aad4ff 5%, #aad4ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aad4ff), color-stop(1, #aad4ff) );
	background:-moz-linear-gradient( center top, #aad4ff 5%, #aad4ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#aad4ff", endColorstr="#aad4ff");	background: -o-linear-gradient(top,#aad4ff,aad4ff);

	background-color:#aad4ff;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.row-fluid [class*="span"] {
   
    margin-left: 0%;
   
}
.rainfallcard {
	margin:0px;padding:0px;
	width:98%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.rainfallcard table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:25%;
	margin:0px;padding:0px;
}.rainfallcard tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.rainfallcard table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.rainfallcard table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.rainfallcard tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.rainfallcard tr:hover td{
	background-color:#ffaaaa;
		

}
.rainfallcard td{
	vertical-align:middle;
	
	background-color:#d4ffaa;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:11px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.rainfallcard tr:last-child td{
	border-width:0px 1px 0px 0px;
}.rainfallcard tr td:last-child{
	border-width:0px 0px 1px 0px;
}.rainfallcard tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.rainfallcard tr:first-child td{
		background:-o-linear-gradient(bottom, #D4FFAA 100%, #f7f2f2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D4FFAA), color-stop(1, #D4FFAA) );
	background:-moz-linear-gradient( center top, #D4FFAA 100%, #f7f2f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#D4FFAA", endColorstr="#D4FFAA");	background: -o-linear-gradient(top,#D4FFAA,D4FFAA);

	background-color:#D4FFAA;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.rainfallcard tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #D4FFAA 5%, #D4FFAA 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D4FFAA), color-stop(1, #D4FFAA) );
	background:-moz-linear-gradient( center top, #D4FFAA 100%, #D4FFAA 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#D4FFAA", endColorstr="#D4FFAA");	background: -o-linear-gradient(top,#D4FFAA,D4FFAA);

	background-color:#D4FFAA;
}
.rainfallcard tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.rainfallcard tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.editbox
{
display:none
}
td
{
padding:5px;
}

.editbox
{
font-size:12px;
width:50px;
background-color:#ffffcc;
border:solid 1px #000;
padding:2px;
}
.edit_tr:hover
{
background:url(edit.png) right no-repeat #80C8E5;
cursor:pointer;
}
.login-container {
    width: 450px;
    margin: 0px auto;
}
.navbar .brand {
    color: #FFF;
    font-size: 24px;
    text-shadow: none;
    float: none;
    margin-left: 20%;
}
.login-layout .widget-box {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    width: 100%;
    border-bottom: 0px none;
    box-shadow: none;
    padding: 6px;
    background-color: #C8D4E6;
    transform: scale(0, 1) translate(-150px);
    margin-left: 23px;
}
.edit_td{
  
    font-size: 12px;    
}


.edit_td input {
    width: 250px;
    padding: 10px;
    margin-bottom: 0px;
}
.profile {
   margin-left: 0px;
     float: right;
}
.editbox
{
display:none
}
td
{
padding:5px;
}
.editbox
{
font-size:12px;
width:200px;
background-color:#ffffcc;
border:solid 1px #000;
padding:4px;
}
.edit_tr:hover
{
background:url(edit.png) right no-repeat #80C8E5;
cursor:pointer;
}
.form-control {    
    display: block;   
    height: 32px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

